[submodule ".oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/plugins/zsh-completions"]
	path = .oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".oh-my-zsh/plugins/zsh-brew-services"]
	path = .oh-my-zsh/plugins/zsh-brew-services
	url = https://github.com/vasyharan/zsh-brew-services.git
